<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.CustomerDao">

	<select id="queryCustomerByName" parameterType="String" resultType="Customer">
		select
			* 
		from
			cus_customer 
		where
			cus_name = #{cusName}	
	</select>
	
</mapper>