<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.OrderDao">

	<insert id="insertOrder" parameterType="Order">
		insert into
			sale_order(
				odr_id,
				odr_customer_id,
				odr_customer_name,
				odr_deliver_addr,
				odr_order_date,
				odr_deliver_date,
				odr_status
			)
		values(
				#{odrId},
				#{odrCustomerId},
				#{odrCustomerName},
				#{odrDeliverAddr},
				#{odrOrderDate},
				#{odrDeliverDate},
				#{odrStatus}
			)
	</insert>
	
	<select id="queryLastId" resultType="int">
		select
			odr_id
		from
			sale_order
		order by
			odr_id desc
		limit
			1		
	</select>
	
</mapper>