<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.ProductDao">

	<select id="queryProductById" parameterType="int" resultType="Product">
		select
			* 
		from
			sale_product 
		where
			prod_id = #{prodId}	
	</select>
	
	<select id="queryAllProduct" resultType="Product">
		select
			*
		from
			sale_product
	</select>
	
</mapper>